<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细数据统计</title>
</head>
<body>
    <h1>当前时间环境详情</h1>
    <div>
        光照强度
        {{ context.item_dict.light }}
        Lux
    </div>
    <div>
        温度
        {{ context.item_dict.temp }}
        ℃
    </div>
    <div>
        磁场强度
        {{ context.item_dict.mag }}
        nT
    </div>
    <div>
        <p>{{ context.tips.date }}</p>
        <p>{{ context.tips.light }}</p>
        <p>{{ context.tips.temp }}</p>
        <p>{{ context.tips.mag }}</p>



    </div>
</body>
</html>